@model List<Book>

@{
    ViewData["Title"] = "Book List";
}

<h2>Book List</h2>

<a asp-action="Add" class="btn btn-primary mb-3">Add Book</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Autor</th>
            <th>Genre</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Year</td>
            </tr>
        }
    </tbody>
</table>
